{% load staticfiles %}{% load i18n %}<!DOCTYPE html>
<html ng-app='xmoney-app'>
	<head>
		<meta charset="utf-8">
		<title>{% block page_title %}Helper{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'db/retina.min.css' %}" rel="stylesheet">
		<link href="{% static 'xmoney/css/fonts.css' %}" rel="stylesheet">
		{% include 'dashboard/style.html' %}


		<script src="{% static 'jquery/jquery-1.9.1.min.js' %}" type="text/javascript"></script>
		
		{# <script src="{% static 'db/jquery-ui-1.10.3.custom.min.js' %}" type="text/javascript"></script> #}
		
		<script src="{% static 'angular/angular.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'angular/angular-resource.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'angular/angular-cookies.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'db/iconpicker/js/bootstrap-iconpicker.js' %}" type="text/javascript"></script>
		<script src="{% static 'db/jquery.sparkline.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'db/bootstrap-switch.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'db/angular-toggle-switch.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'db/underscore-min.js' %}"></script>


		<script src="{% static 'db/clndr/clndr.js' %}" type="text/javascript"></script>
		<script src="{% static 'db/clndr/moment-2.2.1.js' %}" type="text/javascript"></script>
		<script src="{% static 'db/clndr/evnt.calendar.init.js' %}" type="text/javascript"></script>
		
		<script src="{% static 'db/angular-table.min.js' %}"></script>

		<script src="{% static 'db/script.js' %}" type="text/javascript"></script>
		
		<script>

		</script>
		
	</head>
	<body ng-controller='xmoney-helper-controller'>
		<div class="container">
			<div class="row">
				<nav role="navigation">
					<div class="navbar-header">
						<div class="col-lg-5">
							<a class="navbar-brand" href="/">{% block header_brand %}Helper{% endblock %}</a>
						</div>
						<div class="col-lg-3"></div>
						<div class="col-lg-2">
						</div>
						<div class="col-lg-2">
							
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div class="container main-dashboard">
			{% block content %}{% endblock %}
		</div>

	{% include 'base/footer.html' %}

	{% block script_footer %}
		<script src="{% static 'jquery/jquery-1.9.1.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'angular/angular.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'angular/angular-resource.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'angular/angular-cookies.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'db/script.js' %}" type="text/javascript"></script>
	{% endblock %}	

	{% block addon_script %}<script></script>{% endblock %}

</body>
</html>