{% extends "helper/base.html" %}

{% block page_title %}Contact us{% endblock %}
{% block header_brand %}Contact us{% endblock %}

{% block content %}
<div class="row" ng-controller="xmoney-helper-feedback-controller">
	<div class="col-sm-10">
		<div class="panel panel-default">
			<div class="panel-body">
				<h1>Contact us</h1>
				<p>
					Alpha Team, (c) include by ISC Club - UIT <br>
					Website: <a href="http://iscclub.uit.edu.vn" title="">http://iscclub.uit.edu.vn</a><br>
					Email: <a href="mailto:iscclub.uit@gmail.com">iscclub.uit@gmail.com</a><br>

					<br>


					<br>
					THINK WHAT YOU WANT, DO WHAT YOU THINK
					<br>
					We love to hear from you, <a href="/helper/feedback" title="Sent Feedback">sent us a feedback</a> 
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script_footer %}{% endblock %}	

