{% extends "helper/base.html" %}

{% block page_title %}xMoney Help{% endblock %}
{% block header_brand %}Help{% endblock %}

{% block content %}
<div class="row" ng-controller="xmoney-helper-feedback-controller">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h1>Table of contents </h1>
				<p>
					<center>coming soon...</center> <br>
					<ol>
						<li>How to create account at xmoney?</li>

						<li>I forgot my password.</li>

						<li>How to active my email?</li>

						<li>How to change currency?</li>

						<li>I want to change my account photo.</li>

						<li>How can I change my full name?</li>

						<li>How to change my email or phone number?</li>

						<li>I have seen Import/Export tools. What's do they do?</li>

						<li>Hey! What's ISC and who're alpha team.</li>

						<li>I want to invite xmoney with my friend, How can I do it?</li>
					</ol>

					<br><br>
					Copyright Agent <br>
					xmoney, alphateam 2015 <br>
					<a href="mailto:iscclub.uit@gmail.com">iscclub.uit@gmail.com</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script_footer %}{% endblock %}	

