{% extends "helper/base.html" %}

{% block page_title %}Inviting your friends to xMoney!{% endblock %}
{% block header_brand %}Inviting your friends{% endblock %}

{% block content %}
<div class="row" ng-controller="xmoney-helper-feedback-controller">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h1></h1>
				<p>
					<center>
						<h1>Inviting your friends to xMoney!</h1>
					</center> <br>
					

					
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script_footer %}{% endblock %}	

