@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

body {
    background: #fff;
    color: #434950;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 100%;
    line-height: 1.875;
    color: #0a2134;
    -webkit-font-smoothing: subpixel-antialiased;
}

.offset1 {
    margin-left: 50px;
}

.logo {
    font-weight: 100;
}

.logo strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;
  display: block;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}


h1, h2, h3, h4 {
    font-weight:normal;
    color:#008fc6;
    margin-top:1.5em;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size:32px;
    margin-bottom:0.8em;
    color: #008fc6;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

h2 {
    font-size:24px;
}

h3 {
    font-size:20px;
}

.content h1, .content h2 {
    font-weight:300;
}


p, li {
    font-size:1rem;
    line-height:1.4;
    color: #434950;
    font-family: 'Roboto', sans-serif;
    margin-bottom:1.5em;
}

.lead {
    font-size:1.3;
    color:#999;
}

hr {
    margin:40px 0;
}

a {
    color:#111;
}

a:hover {
    text-decoration:none;
    color:#777;
}

/* NAV */

.nav {
    color:#fff;
    background:rgb(30, 41, 56);
    background:rgb(47, 185, 190);
    background:rgb(34, 167, 179);
    padding:30px 0 0;
    min-height:52px;
}

.nav a {
    color:#fff !important;
}

.nav a.info {
    float:right;
    letter-spacing:1px;
    line-height:1.5;
}

.nav .header {
    padding:80px 0 0;
    text-align:center;
    text-transform:uppercase;
    display:none;
    height:280px;
    position:relative;
}

.nav .header h1 {
    font-size:62px;
    letter-spacing:0.2em;
    color:#fff;
    margin:0;
    background:url(../img/developer.png) center top no-repeat transparent;
    background-size:50px;
    padding-top:80px;
    font-weight:600;
    text-shadow: -5px 5px 0 rgba(0,0,0,0.1);
}

.nav .header p {
    letter-spacing:0.5em;
    margin-top:20px;
    font-size:12px;
    color:#eee;
}

/* show header when home */
body.home .nav .header {
    display:block;
    z-index:1;
}

body.home .nav {
    background-image:url(../img/bg-header2.png);
    background-position:center top;
    background-size:cover;
    background-repeat:no-repeat;
}

.more {
    padding:8px 16px;
    background:#eee;
    text-transform:uppercase;
    font-size:12px;
}


/* Update nav bar to show policy as the active link when on that page. */
body.policy .n-policy a {
    background:#eee;
}

/* CONTENT */

.main, .side {
    z-index:10;
    position:relative;
}

.side, .content {
    padding:20px 0;
}


h1:first-child {
    margin-top:0;
}

ul.docs {
    list-style:none;
    margin-top:40px;
}

a.api {
    background:url(../img/api.png) left top no-repeat;
    padding-left:60px;
    background-size:36px;
    display:block;
}

a.code {
    background:url(../img/code.png) left top no-repeat;
    padding-left:60px;
    background-size:36px;
    display:block;
}

ul.apps {
    list-style:none;
}

ul.apps li {
    height:200px;
    margin-top:20px;
}

.apps li .icon {
    height:140px;
    overflow:hidden;
    margin-bottom:10px;
}

.apps li .icon img {
    margin-top:-60px;
    max-width:256px;
}

.apps li strong {
}

.apps li span {
    color:#777;
    font-size:0.8em;
}

.apps li p {
    max-width:256px;
    line-height:1.2;
}

.apps-gallery h1 {
    margin-bottom:0.2em;
}

/* SIDE */

.side {
    box-shadow:-1px 0 0 #eee inset;
}

.side ul {
    margin:0 0 0 0;
}

.side li {
    list-style:none;
    text-align:right;
    margin:0 0 1.5em 0;
}

.side li a {
    font-size:18px;
    color:#111;
    padding:0.5em 1em;
}

.side li h3 {
    margin-right: 1em;
    font-weight: normal;
    color: #008fc6;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.side li a:hover {
    background:#eee;
}

.side li a:after {
    content:" ›";
    color:#aaa;
}

body.apps-gallery .n-apps a,
body.home .n-home a,
body.policy .n-policy a {
    background:#eee;    
}

iframe.token {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px;
    border: 0;
    height: 40px;
    background: #fff;
    overflow-x: auto;
    margin:10px 0; 
    border:2px solid rgb(217, 222, 224);
}

iframe.token:focus {
    background:rgb(217, 222, 224);
}


/* FOOTER */

.footer {
    background:#fff;
    padding:30px 0;
    text-align:center;
    color:#ccc;
    border-top:1px solid #eee;
    font-size:0.9em;
}

.footer a {
    margin:10px;
    display:inline-block;
    color:#999;
}

.footer p {
    margin:0;
}

/* APP PAGE */

.app h1 {
    margin-bottom:0;
    margin-top:6%;
}

.app table td, .app table th {
    padding:0 0.5em 1em;
    text-align:left;
}

.app table th {
    padding-left:20px;
    color:#848484;
    font-weight:normal;
    font-size:12px;
    text-transform:uppercase;
    vertical-align:top;
}

.app .icon img {
    max-width:90%;
}
 
.app table tr:last-child .btn {
    width:90%;
    margin:20px 0 0 12px;
}

.app .screenshots {
    margin:20px 0;
}

.app .screenshots li {
    list-style-type:none;
    width:80px;
    height:80px;
    background:#eee;
    float:left;
    margin-right:10px;
}


/* BUTTONS */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.centered-btns_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: 0;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 50px;
    background: #000 url("../img/themes.gif") no-repeat 5px top;
    margin-top: -45px;
}

.centered-btns_nav:active {
    opacity: 1.0;
}

.centered-btns_nav.next {
    left: auto;
    background-position: -30px top;
    right: 0;
}

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
    outline: none;
}


#slider-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.85);
    z-index: 1000;
}

#slider-wrapper .close {
    color: #fff;
    font-size: 100px;
    font-weight: 200;
    opacity: 1;
    position: absolute;
    top: 40px;
    right: 40px;
}

#slider-wrapper > div {
    height: 70%;
    width: 90%;
    top: 15%;
    position: absolute;
    left: 5%;
}

#slider-wrapper .rslides img {
    width:auto;
    max-width:none;
    max-height:100%;
    float:none;
    margin:0 auto;
}


/* RESPONSIVE */ 


@media (max-width: 460px) {
    .nav .header {
        padding:60px 0;
        background-size:auto 130%;
    }
    
    .side, .content {
        padding:30px 0;
    }
    
    hr {
        margin:20px 0;
    }
    
    .nav .header h1 {
        font-size:36px;
    }
    
    .nav .header p {
        letter-spacing:0.1em;
    }

}

@media (max-width: 767px) {
    body {
        padding:0;
    }
    
    .container, .nav {
        padding-left:20px;
        padding-right:20px;
    }
    
    .side li {
        text-align:left;
    }

}
.month-row-item {
    
}
.month-row-item .date {
    border-left: 3px solid transparent;
    cursor: pointer;
}
.month-row-item td:first-child:hover {
    border-left: 3px solid #15BD11;
}
.month-row-item .total {
    text-align: right;
}

/* Share dialog */



div.xmoney-dialog {
  width: 90%;
  height: 90%;
  position: fixed;
  z-index: 9999;
  background: #fff;
  top: 5%;
  left: 5%;
  padding: 0%;
  box-shadow: 0 0 37px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media (max-width: 850px) {
  div.xmoney-dialog {
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
  }
}

div.xmoney-dialog.moreOptions {
  z-index: 120000;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}

div.xmoney-dialog.moreOptions .content {
  padding: 30px;
}

.shareLink {
    color: #ccc
}

div.xmoney-dialog .footer, div.xmoney-dialog.moreOptions .footer {
  width: 100%;
  height: 12%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3%;
}
div.xmoney-dialog .footer .left, div.xmoney-dialog .footer .mid, div.xmoney-dialog .footer .right {
  display: block;
  width: 31.33333333%;
  float: left;
}
div.xmoney-dialog.moreOptions .footer .btn {
  display: block;
  width: 90%;
  margin: 0 auto;
}

div.xmoney-dialog .header {
  display: block;
  width: 100%;
  height: 35px;
  text-align: center;
  padding: 10px;
  margin: 0;
  line-height: 2em;
  border-bottom: 1px solid #EBEBEB;
  cursor: default;
}

div.xmoney-dialog .content {
  padding: 1%;
  margin: 15px;
}

div.xmoney-dialog .content span.account-item,
div.xmoney-dialog .content span.category-item {
  display: block;
  width: 90%;
  height: 3em;
  float: left;
  margin: 5px 10px;
  padding: 10px;
  /* box-shadow: 0 0 10px #B1B1B1; */
  line-height: 1.5em;
  cursor: pointer;
  margin-right: 1.2em;
}

div.xmoney-dialog .content span.category-item .icon {
  display: inline-block;
  width: 24px;
}
div.xmoney-dialog .content span.category-item .icon i {
  font-size: 1.4em;
}
div.xmoney-dialog .content span.category-item .description {
  
}

div.xmoney-dialog .content span.repeat-item {
  display: block;
  width: 45%;
  height: 2.5em;
  float: left;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 0 10px #B1B1B1;
  line-height: 1.75em;
  cursor: pointer;
  text-align: center;
}

div.xmoney-dialog .content span.account-item:hover,
div.xmoney-dialog .content span.category-item:hover,
div.xmoney-dialog .content span.repeat-item:hover {
  color: #181818;
  background: #F2F2F2;
}

.income-expense-switch {}
.income-expense-switch button {
  border: none;
}

.close-dialog {
  position: absolute;
  top: 0;
  right: 0;
  margin: .6em;
  opacity: .5;
  cursor: pointer;
}
.close-dialog:hover {
  opacity: 1;
}
.close-dialog i.fa.fa-times {

}

.shareDialog {
    display: block;
    width: 90%;
    height: 90%;
    background: #fff;
    z-index: 999;
    padding: 25px;
    position: absolute;
    top: 5%;
    left: 5%;
}
.shareDialog h1, .shareDialog h2 {
  margin: 0;
  padding: 0;
}

.shareDialog ul {
  list-style: none;
}

.shareDialog ul li {
  margin-bottom: 1em;
}

/* Add new transaction */
.transacAmount input {
  height: 45px;
  font-size: 2em;
}

/* What's new */
.whats-new li {
  margin-bottom: 1em;
}