<div class="container-fluid">
	<section class="white-bg padding-top-bottom">
		<div class="container">
			<br>
			<footer>
				<hr>
				<div class="row">
					<div class="col-xs-4 col-md-3 col-lg-2">
						<ul>
							<li><b>Link</b></li>
							<li><a href="/dashboard">xMoney Dashboard</a></li>
							<li><a href="/accounts">Account Center</a></li>
							<li><a href="/">Landing page</a></li>
							
							
						</ul>
					</div>
					<div class="col-xs-4 col-md-3 col-lg-2">
						<ul>
							<li><b>Tools</b></li>
							<li><a href="javascript:;" ng-click="openModalManageCategory()">Manage Category</a></li>
							<li><a href="javascript:;">Manage Events</a></li>
							<li><a href="javascript:;">My wallets</a></li>
							<li><a href="javascript:;">xMoney Statictis</a></li>
							<li><a href="javascript:;" ng-click="openModalImportExport()">Import/Export</a></li>
						</ul>
					</div>
					<div class="col-xs-4 col-md-3 col-lg-2">
						<ul>
							<li><b>Support</b></li>
							<li><a href="/helper/help">Help center</a></li>
							<li><a href="/helper/privacy">Privacy & Terms</a></li>
							<li><a href="/helper/dmca">Copyright</a></li>
							<li><a href="/helper/contact">Contact us</a></li>
							<li><a href="/helper/feedback">Feedback</a></li>
						</ul>
					</div>
					<div class="col-xs-4 col-md-3 col-lg-2">
						<ul>
							<li><b>Community</b></li>
							<li><a href="http://iscclub.uit.edu.vn">ISC Club</a></li>
							<li><a href="https://facebook.com">Facebook</a></li>
							<li><a href="#">Forum</a></li>
							<li><a href="#">Alpha team</a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-xs-12">
						<ul>
							<li>"Track it and get you to be stronger."</li>
						</ul>
					</div>
				</div>
			</footer>
		</div>
	</section>
</div>