<div class="container-fluid">
	<section class="white-bg padding-top-bottom">
		<div class="container">
			<br>
			<footer>
				<hr>
				<div class="row">
					<div class="col-xs-4 col-md-3 col-lg-2">
						<ul>
							<li><b>Link</b></li>
							<li><a href="/dashboard">Dashboard</a></li>
							<li><a href="/accounts">Account</a></li>
							<li><a href="/accounts/password">Password</a></li>
							<li><a href="/accounts/logout">Logout</a></li>
						</ul>
					</div>
					<div class="col-xs-4 col-md-3 col-lg-2">
						<ul>
							<li><b>Support</b></li>
							<li><a href="/help">Help center</a></li>
							<li><a href="/privacy">Privacy & Terms</a></li>
							<li><a href="/dmca">Copyright</a></li>
							<li><a href="/contact">Contact us</a></li>
						</ul>
					</div>
					<div class="col-xs-4 col-md-3 col-lg-2">
						<ul>
							<li><b>Community</b></li>
							<li><a href="http://iscclub.uit.edu.vn">ISC Club</a></li>
							<li><a href="https://facebook.com">Facebook</a></li>
							<li><a href="#">Forum</a></li>
							<li><a href="#">Alpha team</a></li>
						</ul>
					</div>
				</div>
			</footer>
		</div>
	</section>
</div>