<style type="text/css" media="screen">
	.alert-message {
		width: 200px;
		background: #fff;
		position: fixed;
		top: 0;
		left: 50%;
		border: 1px solid #fff;
		margin-left: -100px;
		text-align: center;
		z-index: 99;
	}

	.alert-message.error {
		border: 1px solid #FFCF99;
		background: #FFD67C;
		color: #D34800;
	}
	.alert-message.success {
		border: 1px solid #227115;
		background: #227115;
		color: #FFFFFF;
	}
	.alert-message.loading {
		border: 1px solid #1FB5AC;
		background: #1FB5AC;
		color: #FFFFFF;
	}
</style>

<span ng-show="message.is_error" ng-click="message.is_error = 0" class="alert-message error" ng-bind="message.error"></span>
<span ng-show="message.is_success" ng-click="message.is_success = 0" class="alert-message success" ng-bind="message.success"></span>
<span ng-show="message.is_loading" ng-click="message.is_loading = 0" class="alert-message loading">Loading...</span>
