{% extends "base.html" %}

{% block page_title %}Login{% endblock %}

{% block content %}
<style type="text/css" media="screen">
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

body{
background:#ffffff;
font-family:'Open Sans',sans-serif;
}

#triangle{
  width:0;
  border-top: 12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #3399CC;
  border-left:12px solid transparent;
  margin:0 auto;
}

#login h1{
  background:#3399CC;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}
</style>
<div id="login">
  <div id="triangle"></div>
  <h1>Log in</h1>
  {% include "accounts/block/login.html" %}
    <div class="link-addon">
    <a href="{{SITE_URL}}/" title="Home">Home</a>
    <a href="{{SITE_URL}}/accounts/register" title="Register">Register</a>  
  </div>

</div>
{% endblock %}