{% extends "base.html" %}

{% block page_title %}Register{% endblock %}

{% block content %}

<div id="register">
	<div id="triangle"></div>
	<h1>Register</h1>

	<form action="" method="POST" accept-charset="utf-8"> {% csrf_token %}
    {{ user_form.as_p }}

		<button type="submit" class="button">Submit</button>
	</form>
	
	<div class="link-addon">
		<a href="/" title="Home">Home</a>
		<a href="/accounts/login" title="Login">Login</a>	
	</div>

</div>

{% endblock %}

{% block css_ext %}
<style type="text/css" media="screen">
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

body{
  background:#ffffff;
  font-family:'Open Sans',sans-serif;
}
.errorlist {
  font-weight: 100;
  /* padding-bottom: 0.2em; */
  display: inline-block;
  color: #F7A01A;
  list-style: none;
  margin-bottom: 0em;
}


.button {
  background:#3399CC;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.button:hover{
  background:#2288bb;
}

#register{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#triangle{
  width:0;
  border-top: 12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #3399CC;
  border-left:12px solid transparent;
  margin:0 auto;
}

#register h1{
  background:#3399CC;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

form{
	background: #F2F2F2;
	padding: 6% 4%;
	/* box-shadow: 0 0 10px; */
	border: 1px solid #D0D0D0;
	border-top: 0;
}

input {
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

button{
  width:100%;
  background:#3399CC;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

button:hover{
  background:#2288bb;
}

.link-addon {
	font-weight: 100;
	font-size: 0.9em;
	text-align: center;
	margin: 5px;
}
.link-addon a {
	text-decoration: none;
	margin-left: 1em;
	color: #24B2FC;
}
</style>
{% endblock %}