<div class="modal fade bs-change-language-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Change language</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <a href="#change-language-english" title="English"><mark>English</mark></a>
          </div>
          <div class="col-md-4">
            <a href="#change-language-vietnamese" title="Vietnamese">Vietnamese</a> <span class="label label-default">soon</span>
          </div>
          <div class="col-md-4">
            <a href="#change-language-martian" title="Vietnamese">Martian</a> <span class="label label-default">soon</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
