<style type="text/css" media="screen">

.message {
  font-weight: 100;
  padding-bottom: 1em;
  display: inline-block;
  color: #F7A01A;
}

.button{

  background:#3399cc;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.button:hover{
  background:#2288bb;
}

#login{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}


form{
  background: #F2F2F2;
  padding: 6% 4%;
  /* box-shadow: 0 0 10px; */
  border: 1px solid #E2E2E2;
  border-top: 0;
}

input[type="text"],input[type="password"]{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

button{
  width:100%;
  background:#3399CC;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

button:hover{
  background:#2288bb;
}

.link-addon {
  font-weight: 100;
  font-size: 0.9em;
  text-align: center;
  margin: 5px;
}
.link-addon a {
  text-decoration: none;
  margin-left: 1em;
  color: #0B6B9B;
}
</style>




	<form action="{{SITE_URL}}/accounts/login" method="POST" accept-charset="utf-8"> {% csrf_token %}

		{% if state %}<span class="message">{{state}}</span>{% endif %}

		<input type="text" name="username" value="{% if username %}{{username}}{% endif %}" placeholder="Username">
		<input type="password" name="password" value="" placeholder="Password">
		<button type="submit" class="button">Submit</button>
	</form>
	
