<div class="modal fade bs-add-category-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new category</h4>
      </div>
      <form class="form-horizontal" ng-submit="saveNewCategory()" role="form">
        <div class="modal-body">
          
          <p ng-if="dashboard.new_category.error" class="alert alert-danger">
          ##dashboard.new_category.error##
          </p>
          
          <div class="form-group">
            <label for="transtype" class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
              
                    <toggle-switch
                    model="dashboard.transtype_switch"
                    class="switch-success switch-large"
                    on-label="Income"
                    off-label="Expense">
                    <toggle-switch>

            </div>
          </div>
          
          <div class="form-group">
            <label for="cattext" class="col-sm-3 control-label">Category name</label>
            <div class="col-sm-8">


              <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="category-icon" role="iconpicker"> <i class="fa fa-times"></i> </button>
                </span>
                <input type="text" class="form-control" ng-model='dashboard.new_category.text' id="cattext" placeholder="Shopping, Education, etc">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="transtype" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model='dashboard.new_category.description' id="cattext" placeholder="Optional">
            </div>
          </div>
          
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>