<div class="modal fade bs-choose-event-modal-lg  " style="-webkit-animation: bounce 5s all; animation: bounce 5s all;" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose / Create new Event</h4>
      </div>
      <div class="modal-body">

      Event name: <input type="text" class="form-control" placeholder="Event name (*)" />

      </div>
    </div>
  </div>
</div>