  <div class="modal fade bs-import-export-modal-lg" tabindex="1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Import / Export Your data</h4>
        </div>
        <div class="modal-body">
            <p>
              
            Backup your data: <a href="javascript:;" title="Export">Export</a>

            </p>

            <hr>

            <p>
              
              Import your data from .xmbk file <a href="javascript:;" title="Choose file" class="btn btn-primary">Choose a file ...</a>

            </p>

        </div>
      </div>
    </div>
  </div>

