<div class="modal fade bs-manage-category-modal-lg" tabindex="1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">All transaction category</h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-md-4">
            
            <toggle-switch
            model="dashboard.transtype_switch"
            class="switch-success"
            on-label="Income"
            off-label="Expense">
            <toggle-switch>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            
          </div>
        </div>
        <hr />
        
        <div class="row" ng-show="dashboard.transtype_switch">
          <div
            class="col-md-4 choose-category-item"
            ng-repeat="item in dashboard.category_group.in"
            ng-click="openModalEditCategory(item)">
            <i class="fa ## item.icon ? item.icon : 'fa-question' ##"></i>
            <span ng-bind="item.text" title="## item.description ##">Category</span>
          </div>
          
        </div>
        <div class="row" ng-show="!dashboard.transtype_switch">
          <div
            class="col-md-4 choose-category-item"
            ng-repeat="item in dashboard.category_group.ex"
            ng-click="openModalEditCategory(item)">
            <i class="glyphicon ## item.icon ##"></i>
            <span ng-bind="item.text" title="## item.description ##">Category</span>
          </div>
          
        </div>
      </div>

        <div class="modal-footer">
          <a href="#add-new-category" class="btn btn-info" ng-click="openModalNewCategory()"> <i class="fa fa-plus"></i> new </a>
          <button type="submit" class="btn" data-dismiss="modal">Close</button>
        </div>


    </div>
  </div>
</div>


<!-- Modal Category Detail -->

<div class="modal fade bs-category-edit-modal-lg" tabindex="1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">All transaction category</h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-md-4">
            
            <toggle-switch
            model="dashboard.transtype_switch"
            class="switch-success switch-medium"
            on-label="Income"
            off-label="Expense">
            <toggle-switch>
          </div>
          <div class="col-md-4">
            <a href="#add-new-category" class="btn btn-info" ng-click="openModalNewCategory()"> <i class="fa fa-plus"></i> new </a>
          </div>
        </div>
        <hr />
        
        <div class="row" ng-show="dashboard.transtype_switch">
          <div
            class="col-md-4 choose-category-item"
            ng-repeat="item in dashboard.category_group.in"
            ng-click="chooseCategory(item)">
            <i class="fa ## item.icon ? item.icon : 'fa-question' ##"></i>
            <span ng-bind="item.text" title="## item.description ##">Category</span>
          </div>
          
        </div>
        <div class="row" ng-show="!dashboard.transtype_switch">
          <div
            class="col-md-4 choose-category-item"
            ng-repeat="item in dashboard.category_group.ex"
            ng-click="chooseCategory(item)">
            <i class="glyphicon ## item.icon ##"></i>
            <span ng-bind="item.text" title="## item.description ##">Category</span>
          </div>
          
        </div>
      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="deleteTransaction()">Delete</button>  
          <button type="submit" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>


    </div>
  </div>
</div>