<div class="col-lg-5 col-md-5 col-xs-12">
	<div class="today-transaction" ng-init="dashboard.transaction_today = []">
		<table class="table today-table" at-table at-paginated at-list="dashboard.transaction_today" at-config="dashboard.todayTableConfig">
			
			<thead>
				<tr>
					<th>#</th>
					<th>Amount</th>
					<th>Category</th>
					<th>Note</th>
					<th width="2%">Action</th>
				</tr>
			</thead>
			<tbody>

			


				
				<tr>
					<td at-attribute="#">##$index+1##</td>
					<td at-sortable at-attribute="amount">
						## item.transaction_type == 'in'? '+' : item.value >= 0 ? '-' : '' ## ## item.value | number ##
					</td>
					<td at-sortable at-attribute="category" style="text-align:left">
						<i ng-show="item.category.icon" class="## item.category.substring(0,2) == 'fa' ? 'fa' : 'glyphicon' ## ## item.category.icon ##"></i> ## item.category.text ##
					</td>
					<td at-attribute="note">
						## item.note ##
					</td>
					<td at-attribute="action">
						<a ng-click="openModalEditTransaction(item)" href="#edit-transaction">
							<i class="fa fa-pencil"></i>
						</a>
						
					</td>
				</tr>
			</tbody>
		</table>

		<at-pagination at-list="dashboard.transaction_today" at-config="dashboard.todayTableConfig" class="table-pagination"></at-pagination>

	</div>
</div>