<div class="col-lg-6 col-md-6">
	<div class="today-transaction">
		<table class="table today-table">
			
			<thead>
				<tr>
					<th>#</th>
					<th>Amount</th>
					<th>Note</th>
					<th width="2%">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="dashboard.transaction_today.length == 0">
					<td colspan="4" class="empty">
						Nothing today, <a href="#add-some-transaction" ng-click="openModalNewTransaction()">add some?</a> :))
					</td>
				</tr>
				<tr ng-repeat="item in dashboard.transaction_today">
					<td>## $index+1 ##</td>
					<td>## item.value | number ##</td>
					<td>## item.note ##</td>
					<td>
						<a ng-click="editTransaction(item.transaction_id)" href="#edit-transaction">
							<i class="fa fa-pencil"></i>
						</a>
						<a ng-click="deleteTransaction(item.transaction_id)" href="#delete-transaction">
							<i class="fa fa-times"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div><!--/ today transaction-->